* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  scroll-behavior: smooth;
}

.dvc-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

/* .dvc-link:hover {
  cursor: pointer;
  color: #b30a10;
} */
